registry=https://registry.npmmirror.com
@nuxt:registry=https://registry.npmmirror.com

PUPPETEER_DOWNLOAD_BASE_URL = https://cdn.npmmirror.com/binaries/chrome-for-testing

sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

shamefully-hoist=true
strict-peer-dependencies=false
