data/*.json
parse/*/*.json
__summary_cache__
structure-embedding.json
.idea
**/__pycache__
**/*.pyc
pkg/retrieve/test
scripts/question.json
.vscode/


log.txt
catalog_bak/


.DS_Store
*.jsonl



scripts/cli/all_*.json
